/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*	{
	-webkit-transition: .5s color ease-in;
}
/* = Baseline
 -------------------------------------------------------------- */

a:link {color:#111;}      /* unvisited link */
a:visited {color:#111;}  /* visited link */
a:hover {color:#333;}  /* mouse over link */
a:active {color:#555;}  /* selected link */


::selection {
	background: #CCC; /* Safari */
	}
::-moz-selection {
	background: #CCC; /* Firefox */
}

body {
	background-color: #FFF;
	width: 600px;
	margin: 20px auto;
	position: relative;
	min-height: 500px;
}

#content	{
	margin: 15px 0 24px 0;
	overflow: auto;
	height: auto;
}
footer	{
	font-weight: 300;
	visibility: hidden;
}
h1	{
	float: left;
	margin: 0;
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	padding: 0;
	display: block;
	width: 100%;
}
nav	{
	float: right;
	display: inline-block;
	padding-top: 10px;
}
nav li	{
	display: inline-block;
}
nav li a	{
	text-decoration: none;
	color: black;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 24px;
	margin-left: 20px;
}
header	{
	overflow: auto;
	width: 100%;
	background-color: white;
	box-sizing: border-box;

}
img {
	vertical-align: bottom;
}

form {
	display: inline;
}


/* = Contact
-------------------------------------------------------------- */

.button	{
	width: 50%;
	display: inline-block;
	color: black;
	text-decoration: none;
}
.test{
	padding-left: 16px;
	border-left: 8px solid rgba(255,255,255,0);
	-webkit-transition: 1s;
	opacity: .2;
}
.test a 	{
	color: inherit;
}
.button	{
	vertical-align: top;
}
.current{
	opacity: 1;
}
.correct	{
	border-color: #BADA55;
}
.incorrect	{
	border-color: #da5555;
}
.slow	{
	border-color: #FFD400;
}
#content::before{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	content: '';
	pointer-events: none;
	background-image: -webkit-linear-gradient(bottom, #ffffff 0px, rgba(255,255,255,0) 150px);
	z-index: 1;
}
.test:not(.current) a[data-answer='0']{
	text-decoration: line-through;
}
.test:not(.current) a	{
	pointer-events: none;
}


/* = Stats
-------------------------------------------------------------- */

.stats	{
	position: absolute;
	top: 0;
	left: -80px;
	padding-top: 12px;
}
.stats li{
	padding: 0px 5px;
	border: 1px solid rgba(0,0,0,.075);
	color: rgba(0,0,0,.2);
	text-shadow: none;
	border-radius: 3px;
	line-height: 1.5;
	font-weight: 100;
	margin-right: 5px;
	display: inline-block;
}
/*
.stats li::before	{
	content: attr(data-counter);
}
*/