/* =Reset
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	line-height:1.5;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	color:#000;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

* {
	-webkit-transition:.5s color ease-in;
}

/* = Baseline
 -------------------------------------------------------------- */
a {
color: inherit;}

/* selected link */
::selection {
	background:#CCC;
/* Safari */
}

::-moz-selection {
	background:#CCC;
/* Firefox */
}

body {
	background-color:#FFF;
	width:600px;
	margin:20px auto;
	position:relative;
	min-height:500px;
}

#content {
	margin:15px 0 24px;
}

footer a {
	color: rgba(0,0,0,.2);
	text-decoration: none;
}

h1 {
	margin:0;
	font-size:36px;
	font-weight:600;
	line-height:48px;
	padding:0;
	display:block;
	width:100%;
}

nav {
	float:right;
	display:inline-block;
	padding-top:10px;
}

nav li {
	display:inline-block;
}

nav li a {
	text-decoration:none;
	color:#000;
	vertical-align:middle;
	text-transform:uppercase;
	font-weight:100;
	font-size:24px;
	margin-left:20px;
}

header {
	overflow:auto;
	width:100%;
	background-color:#fff;
	box-sizing:border-box;
}

img {
	vertical-align:bottom;
}

form {
	display:inline;
}

/* = Picker
-------------------------------------------------------------- */
h1 {
	margin-bottom:24px;
	font-size: 48px;

}
h2 {
	font-size: 24px;
	line-height: 1;
	font-weight: 500;
	margin-bottom: 24px;
}
form	{
	margin-bottom: 24px;
	display: block;
	overflow: visible;
}
.recent li a	{
	text-decoration: none;
}
.recent	li::after{
	content: attr(data-description);
	color: rgba(0,0,0,.05);
	-webkit-transition: .2s all ease;
	margin-left: 10px;
}
.recent	li:hover::after{
	content: attr(data-description);
	color: rgba(0,0,0,.2);
}
input {
	font-family:inherit;
	font-size:24px;
	line-height:24px;
	padding:3px 4px 2px 4px;
	height:48px;
	overflow:visible;
	display: inline-block;
	box-sizing: border-box;
	width: auto;
	vertical-align: top;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: none;
	font-weight: 200;
	margin-right: 12px;
}
/*
input[type=number]{
	width: 150px;;
	
}
*/
input[type=submit]{
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.2);
	/* border-radius: 5px; */
	font-weight: 200;
	color: rgba(0,0,0,.2);
	margin: 1px 0 0 0 ;

	
}
input[type=submit].active{
	cursor: pointer;
	pointer-events: all;
}

/*--- = Color Shift  */

.color-shift{
	border-left: 8px solid #333;
	padding-left: 16px;
	-webkit-animation: color-shift 25s infinite;
	 -webkit-animation-timing-function: ease;
}

@-webkit-keyframes color-shift {
	0% {
		border-color: #BADA55;
	}
	33% {
		border-color: #FFD400;
	}
	66%{
		border-color: #da5555;
	}
	100% {
		border-color: #BADA55;
	}
}
/* = Tester
-------------------------------------------------------------- */
#storage	{
display: none;
visibility: hidden;
}
#content::before {
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	content:'';
	pointer-events:none;
	background-image:-webkit-linear-gradient(bottom,#fff 0px,rgba(255,255,255,0) 150px);
	z-index:1;
}
.choice {
	width:48%;
	display:inline-block;
	color:#000;
	text-decoration:none;
	border-top:1px dashed rgba(0,0,0,.1);
	line-height:23px;
		vertical-align:top;
}

.choice:nth-of-type(odd) {
	margin-right:4%;
}

.test {
	padding-left:16px;
	border-left:8px solid rgba(255,255,255,0);
	-webkit-transition-property:border,opacity;
	-webkit-transition-duration:.2s,.2s;
	opacity:.2;
}

.test h1 {
	margin:0;
	font-size:36px;
	font-weight:600;
	line-height:48px;
	padding:0;
	display:block;
	width:100%;
	border:none;
}

.test a {
	color:inherit;
}
.test:first-child {
	opacity:1;
}

.correct {
	border-color:#BADA55;
}

.incorrect {
	border-color:#da5555;
}

.slow {
	border-color:#FFD400;
}


.test:not(:first-child) a[data-correct='false'] {
	text-decoration:line-through;
}

.test:not(:first-child) a {
	pointer-events:none;
}
/*--- = Show Difficulty  */
.show-difficulty .test:hover h1::after	{
	content: attr(data-difficulty);
	color: grey;
	float: right;
	vertical-align: top;
	font-size: 12px;
	
}
/* = Stats
-------------------------------------------------------------- */
	.stats{
		display: block;
		position: static;
		padding: 0;
		left: 0;
		padding: 0 32px;
		margin-bottom: 12px;
		
	}
	.stats .home	{
	float: right;
}
.stats a	{
	text-decoration: none;
}
.stats li {
	padding:0 5px;
	border:1px solid rgba(0,0,0,.075);
	color:rgba(0,0,0,.2);
	text-shadow:none;
	border-radius:3px;
	line-height:1.5;
	font-weight:200;
	margin-right:5px;
	display:inline-block;
	-webkit-transition:all .2s;
	vertical-align:top;
}

.stats li.correct-count {
	border-color:#BADA55;
	color:#BADA55;
}

.stats li.incorrect-count {
	border-color:#da5555;
	color:#da5555;
	cursor:pointer;
}

.stats li.slow-count {
	border-color:#FFD400;
	color:#FFD400;
	cursor:pointer;
}

.stats .activated {
	margin-top:12px;
}
/*
.stats li::before	{
	content: attr(data-counter);
}
*/


/* = Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
	body	{
		width: auto;
	}
	.choice	{
		width: 100%;
		display: block;
	}
	.test h1	{
		font-size: 24px;
		line-height: 36px;
	}
}

@media only screen and (max-width: 836px) {
	body{
		width: 100%;
	}

	#content	{
		display: block;
		width: 100%;
		margin: 0;
	}
	.test	{
		margin-left: 10px;
		margin-right: 10px;
	}
	.choice	{
		min-height: 36px;
	}

}